
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
### /build/data/*
###< symfony/framework-bundle ###
/docker-compose.yml
/build/
